body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
  background: rgb(26, 27, 33);
  border-radius: 25px;
  width: 450px;
  height: 1000px;
  left: 65px;
  top: 53px;
  margin-left: 650px;
}
.profile-pic {
  border-radius: 15px;
  display: block;
  width: 450px;
}
.profile > h2 {
  color: white;
  /* padding-left: 90px; */
  text-align: center;
}
.profile > h3 {
  font-size: small;
  text-align: center;
  color: #d8aa8a;
}
.profile > button {
  border-radius: 15px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  position: relative;
  left: 70px;
}
.email {
  background-color: white;
  border-color: white;
}
.linkedin {
  background-color: #5093e2;
  border-color: #5093e2;
  color: white;
}
.about,
.interests {
  color: white;
  padding-left: 30px;
}
.title {
  text-align: left;
  font-size: large;
}
.about > p {
  font-size: small;
}
.list {
  position: relative;
  bottom: 10px;
  right:20px
}
.footer{
  border-radius: 15px;
  background: rgb(22, 22, 25);
  height: 50px;
}

.twitter,.github,.facebook{
  position: relative;
  left:100px;
  padding-left: 25px;
}